body {
    margin: 0px;
}

.navbar {
    background-color: #BC302F;
    height: 670px;
    width: 100%;
    position: absolute;
}

.travelbar {
    background-color: #663D39;
    width: 100%;
    height: 100px;
    position: absolute;
    margin-top: 670px;
}

.videobar{
    background-color: #663D39;
    width: 100%;
    height: 1000px;
    position: absolute;
    margin-top: 770px;
}

.ispirationbar {
    background-color: beige;
    width: 100%;
    height: 3000px;
    position: absolute;
    margin-top: 1770px;
}

.experiencebar {
    background-color: #663D39;
    width: 100%;
    height: 1000px;
    position: absolute;
    margin-top: 4770px;
}

.competencesbar {
    background-color: beige;
    width: 100%;
    height: 1230px;
    position: absolute;
    margin-top: 5770px;  
}

.thanksbar {
    background-color: #663D39;
    width: 100%;
    height: 650px;
    position: absolute;
    margin-top: 7000px;
}

